{% extends "base.html" %}
{% block title %}{{ page.title }} &mdash; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}
{% block extrahead %}
<meta name="date" content="{{ page.date }}">
<link rel="up" title="Articles overview" href="/articles/">
{% endblock extrahead %}
{% block content %}
<article>
	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date }}">{{ page.date }}</time>
	{{ page.content |safe }}
</article>
{% endblock content %}
